@import "~bootstrap/scss/bootstrap";
@import "~balloon-css/src/balloon";
@import "~font-awesome/scss/font-awesome";
@import "~vue-select/src/scss/vue-select.scss";

.navbar {
  margin-bottom: 10px;
}

input[type=date].form-control,
input[type=time].form-control,
input[type=datetime-local].form-control,
input[type=month].form-control {
  line-height: 1.5;
}

.chart {
  width: 100%;
}

.display-inline-block {
  display: inline-block;
}

.booking-box {
  width: 100px;
  font-size: .8rem;
}

.form-control-xl {
  height: calc(1.5em + 1rem + 2px);
  padding: 0.5rem 1rem;
  font-size: 2rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

.v-select {
  font-size: 2rem;
}
